* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body {
  margin: 0px;
  height: 100%;
}

#main {
  height: 100%;
  display:flex;
}
#menu {
  height: 100%;
  width: 100px;
  background-color: teal;
  padding: 5px;
  text-align: center;
  float: left;
}
#content {
  padding: 10px;
  height: 100%;
  width: max-content;
  background-color:lightgrey;
  flex-grow:1;
}

.menuitem p {
  cursor: grab;
}