* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body {
  margin: 0px;
  height: 100%;
}

#menu {
  height: 100%;
  width: 100px;
  background-color: teal;
  padding: 5px;
  text-align: center;
  float: left;
}

#mainleaf
{
  white-space: nowrap;
  height: 100%;
  overflow-x: scroll;
}

.leaf {
  height: 100%;
  background-color:lightgrey;
  display: inline-block;
}

.menuitem p {
  cursor: grab;
}