<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>A template for horizontal scrolling SPA</title>

  <link rel="icon" href="/static/favicon.ico">
  <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">

  <link rel="stylesheet" href="static/leaves.css?v=1.0">
</head>

<body>
  <div id="page">
    <div id="crumb-trail">
      <span class="crumb">Home</span>
    </div>
    <div id="leaf-container">
 