{{ template "head.html" }}

<div id="leaf-container">
  <div class="leaf">
    <div id="menu">
      <div class="menuitem">
        <p content="page1.html">Menu Item 1</p>
      </div>
      <div class="menuitem">
        <p content="page2.html">Menu Item 2</p>
      </div>
      <div class="menuitem">
        <p content="page3.html">Menu Item 3</p>
      </div>
      <div class="menuitem">
        <p content="page4.html">Menu Item 4</p>
      </div>
      <div class="menuitem">
        <p content="page5.html">Menu Item 5</p>
      </div>
    </div>
    <div>
        This is the home page
    </div>
  </div>
</div>

{{ template "tail.html" }}