<div id="menu">
    <div class="menuitem">
      <p content="page1.html">Menu Item 1</p>
    </div>
    <div class="menuitem">
      <p content="page2.html">Menu Item 2</p>
    </div>
    <div class="menuitem">
      <p content="page3.html">Menu Item 3</p>
    </div>
    <div class="menuitem">
      <p content="page4.html">Menu Item 4</p>
    </div>
    <div class="menuitem">
      <p content="page5.html">Menu Item 5</p>
    </div>
  </div>
</div>
<h1>Page number 1</h1>
<p>This page should appear in the main content section and replace whatever was there before.</p>
<a href="javascript:void(0)" content="subpage1.html">Click here</a> for a subpage.